Binaries
DerivedDataCache
Intermediate
Plugins\Developer
Plugins\CustomConfig
Plugins\DialoguePlugin
Plugins\DiscordMessenger
Plugins\EasyMultiSave
Plugins\HorizonUIPlugin
Plugins\LDAssistant
Plugins\RegexInBP
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Retro8BitSounds.png
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
